* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
}

#top {
    width: 100%;
    height: 100%;

}

.container {
    width: 80%;
    height: 100%;
    display: flex;

    .product {
        width: 85%;
        display: flex;
        justify-content: flex-end;
        text-align: center;
        gap: 20px;

        &--list {
            list-style: none;
            width: 25%;

            h5 {
                font-size: 20px;
                text-transform: uppercase;

            }

            .list {
                width: 100%;
                display: flex;

                &--img {

                    width: 45%;


                }

                div {
                    height: 68%;
                    font-weight: 600;
                    align-self: center;
                    line-height: 35px;

                    h6 {
                        font-size: 12px;

                    }

                    span {
                        font-size: 12px;
                        color: darkgray;
                        margin: 0px 3px;

                        .green {

                            color: darkgreen;
                        }
                    }


                }








            }
        }

        .right {
            width: 25%;
            display: flex;
            flex-direction: column;
            gap: 30px;

            &--text {
                display: flex;
                flex-direction: column;
                gap: 20px;

                h4 {}

                p {
                    font-size: 18px;
                    color: darkgray;
                }

                .input {
                    .text {
                        width: 70%;
                        text-align: center;
                        padding: 20px;
                        border: 1px solid darkgray;
                        background-color: rgb(255, 255, 255);
                        color: #fff;
                        font-size: 16px;
                        margin-bottom: 10px;
                    }

                    .buton {
                        width: 70%;
                        text-align: center;
                        padding: 20px;
                        border: none;
                        background-color: cornflowerblue;
                        color: #fff;
                        font-size: 16px;
                    }
                }
            }

            .footer {
                line-height: 40px;

                h3 {
                    font-size: 20px;
                }

                .icon {
                    display: flex;
                    gap: 15px;

                    .sosial {}
                }
            }
        }
    }


}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .container {
        width: 80%;
        flex-direction: column;
        margin: 0px auto;

        .product {
            flex-direction: column;
            width: 100%;

            &--list {
                width: 100%;

                .list {
                    justify-content: center;

                    &--img {
                        width: 40%;
                    }

                    div {
                        width: 30%;
                        font-size: 16px;
                    }
                }
            }

            .right {
                width: 100%;
                text-align: center;

                .icon {
                    justify-content: center;
                }

            }

        }


    }


}



// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {
//     .container{
//         width: 100%;
//         height: 100%;
//         .product{

//             flex-direction: column !important;

//             &--list{
//                 width: 50%;
//                 height: auto !important;

//                 .list{
//                     justify-content: center;

//                     &--img{
//                         width: 40%;
//                     }

//                     div{
//                         width: 30%;
//                         font-size: 16px;
//                     }
//                 }
//             }

//         }
//     }
// }


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1044px) {
    // body {
    //     height: 100vh;
    // }

    // main {
    //     height: 70%;
    // }

    .container {
        width: 100% !important;
        height: 100%;

        .product {
            width: 100%;
            flex-wrap: wrap;
            gap: 20px;
            text-align: center;
            justify-content: center;

            &--list {
                width: 32%;
                height: 49%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;


                h5 {
                    height: 5% !important;
                }

                .list {
                    justify-content: center;

                    &--img {
                        width: 40%;
                    }

                    div {
                        width: 30%;
                        font-size: 16px;
                    }
                }
            }

            .right{
                width: 32%;
                gap: 30px;

                .right--text{
                    padding-top: 10px;
                }

                .icon{
                    justify-content: center;
                }
            }

        }
    }
}



// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {


// }

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {
//     .container{
//         width: 75%;
//         height: 65% !important;
//          flex-direction: row !important; 
//         .product{
//             width: 85%;


//             &--list{
//                 width: 20%;

//                 .list{


//                     &--img{
//                         width: 45%;
//                     }

//                     div{
//                         height: 68%;
//                         font-weight: 600;
//                         align-self: center;
//                         line-height: 35px;

//                     }
//                 }
//             }

//         }
//     }

// }