* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    height: 600px;
}

#header {
    width: 100%;
    height: 684px;
}

.conteiner {
    // width: 1069px;
    // height: 784px;
    display: flex;

    .left {
        width: 550px;
        height: 685px;
        object-fit: cover;
        padding-left: 70px;

        .plash {
            width: 474px;
            height: 685px;

        }


    }

    .right {
        width: 401px;
        height: 784px;
        text-align: -webkit-center;
        padding-top: 65px;

        h3 {
            font-size: 24px;
            font-weight: 700;
            opacity: 0.6;
            padding-bottom: 15px;


        }

        .focus {
            width: 234px;
            font-size: 14px;
            opacity: 0.4;
            padding-bottom: 30px;
        }

        .pc {
            padding-bottom: 20px;
        }

        .hover {
            width: 130px;
            height: 35px;
            padding-bottom: 15px;

            .link {
                width: 70px;
                text-decoration: none;
                color: black;
                font-size: 14px;

            }
        }


        .frame {
            padding-top: 2px;
            width: 80px;
            height: 35px;
            text-decoration: none;
            display: flex;
            color: #000;
            opacity: 0.8;
            cursor: pointer;
            padding-bottom: 15px;
        }

        .price {
            width: 88px;
            height: 30px;
            display: flex;
            text-align: center;
            justify-content: center;
            padding-top: 11px;

            .pul {
                font-size: 16px;
                font-weight: 700;
                padding-right: 4px;
                color: #23856D;
                opacity: 0.5;
            }

            .dollar {

                font-size: 16px;
                font-weight: 700;
                padding-left: 4px;
                color: #2c5e0c;
            }
        }

        .color {
            width: 75px;
            height: 20px;
            display: flex;
            margin-top: 10px;

            .blue {

                width: 15px;
                height: 15px;
                background-color: blue;
                border-radius: 10px;
                margin: 8px 2px;
            }

            .green {
                width: 15px;
                height: 15px;
                background-color: green;
                border-radius: 10px;
                margin: 8px 2px;
            }

            .orange {
                width: 15px;
                height: 15px;
                background-color: orange;
                border-radius: 10px;
                margin: 8px 2px;
            }

            .black {

                width: 15px;
                height: 15px;
                background-color: black;
                border-radius: 10px;
                margin: 8px 2px;
            }

        }
    }
}

#footer {
    width: 1366px;
    height: 111px;
    display: flex;
    text-align: left;
    justify-content: center;
}


.help {
    width: 1233px;
    height: 111px;
    display: flex;

    .cart {
        width: 1066px;
        height: 111px;

        &--box {
            display: flex;
            width: 201px;
            height: 61px;

            .bot {

                font-size: 40px;
                color: #E74040;
                padding-right: 10px;


            }

            .alt {

                .fritl {
                    padding-bottom: 10px;
                }

                .ecol {
                    opacity: 0.6;
                }
            }
        }
    }
}

