* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
}

#top {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container {
    width: 90%;
    height: 65%;
    display: flex;
    margin: 0px auto;

    .product {
        width: 90%;
        display: flex;
        justify-content: flex-end;
        text-align: center;
        gap: 20px;

        &--list {
            width: 20%;
            list-style: none;
            text-align: left;

            h5 {
                font-size: 20px;
                text-transform: uppercase;

            }

            .list {
                width: 100%;
                display: flex;

                &--img {

                    width: 45%;


                }

                div {
                    height: 68%;
                    font-weight: 600;
                    align-self: center;
                    line-height: 35px;

                    h6 {
                        font-size: 12px;

                    }

                    span {
                        font-size: 12px;
                        color: darkgray;
                        margin: 0px 3px;

                        .green {

                            color: darkgreen;
                        }
                    }


                }








            }
        }

        .right {
            width: 35%;
            height: 85%;
            display: flex;
            flex-direction: column;
            gap: 30px;
            border: 1px solid darkgrey;

            &--text {
                display: flex;
                flex-direction: column;
                gap: 20px;

                h4 {
                    font-size: 40px;
                }

                p {
                    font-size: 18px;
                    color: darkgray;
                }

                .input {
                    width: 80%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;

                    .text {
                        border: none;
                        background-color: rgba(194, 185, 174, 0.431372549);
                        border-radius: 10px;
                        outline: none;
                        padding: 20px 40px 20px 50px;
                        left: 0;
                        top: 0;
                        position: relative;
                    }

                    .buton {
                        border: none;
                        background-color: #89ceff;
                        color: #fff;
                        border-radius: 10px;
                        cursor: pointer;
                        padding: 20px 10px;
                        position: absolute;
                    }

                }

                .footer {
                    line-height: 40px;

                    h3 {
                        font-size: 20px;
                    }

                    .icon {
                        display: flex;
                        gap: 15px;
                        justify-content: center;

                        .sosial {}
                    }
                }
            }
        }


    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .container {
        width: 80%;
        flex-direction: column;
        margin: 0px auto;

        .product {
            flex-direction: column;
            width: 100%;

            &--list {
                width: 100%;

                .list {
                    justify-content: center;

                    &--img {
                        width: 40%;
                    }

                    div {
                        width: 30%;
                        font-size: 16px;
                    }
                }
            }

            .right {
                width: 100%;
                text-align: center;

                .icon {
                    justify-content: center;
                }

                .input {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .text {
                        width: 70%;
                        text-align: center;
                        padding: 20px;
                        border: 1px solid darkgray;
                        background-color: rgb(255, 255, 255);
                        color: #fff;
                        font-size: 16px;
                        margin-bottom: 10px;
                    }

                    .buton {
                        width: 70%;
                        text-align: center;
                        padding: 20px;
                        border: none;
                        background-color: cornflowerblue;
                        color: #fff;
                        font-size: 16px;
                        position: relative;
                    }
                }

            }

        }


    }


}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 750px) {
    .container {
        width: 100% !important;
        height: 100%;

        .product {
            width: 100%;
            text-align: center;
            justify-content: center;
            flex-direction: column;

            &--list {
                width: 100%;
                height: 49%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                text-align: center;


                h5 {
                    height: 5% !important;
                }

                .list {
                    justify-content: center;

                    &--img {
                        width: 40%;
                    }

                    div {
                        width: 30%;
                        font-size: 16px;
                    }
                }
            }

            .right {
                width: 100%;
                gap: 35px;
                height: 30%;

                .icon {
                    justify-content: center;
                }
            }

        }
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    // body {
    //     height: 100vh;
    // }

    // main {
    //     height: 70%;
    // }

    .container {
        width: 100% !important;
        height: 100%;

        .product {
            width: 100%;
            flex-wrap: wrap;
            gap: 20px;
            text-align: center;
            justify-content: center;

            &--list {
                width: 32%;
                height: 49%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;


                h5 {
                    height: 5% !important;
                }

                .list {
                    justify-content: center;

                    &--img {
                        width: 40%;
                    }

                    div {
                        width: 30%;
                        font-size: 16px;
                    }
                }
            }

            .right {
                width: 50%;
                gap: 35px;
                height: 35%;

                .icon {
                    justify-content: center;
                }
            }

        }
    }
}



// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {


// }

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {
//     .container{
//         width: 75%;
//         height: 65% !important;
//          flex-direction: row !important; 
//         .product{
//             width: 85%;


//             &--list{
//                 width: 20%;

//                 .list{


//                     &--img{
//                         width: 45%;
//                     }

//                     div{
//                         height: 68%;
//                         font-weight: 600;
//                         align-self: center;
//                         line-height: 35px;

//                     }
//                 }
//             }

//         }
//     }