* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

#main {
  width: 100%;
  height: 940px;
}

.conteiner {
  width: 100%;
  height: 940px;
  display: flex;
  margin: 10px;
  padding: 15px;
}
.conteiner .left {
  width: 620px;
  height: 644px;
}
.conteiner .left img {
  width: 620px;
  height: 880px;
  -o-object-fit: cover;
     object-fit: cover;
}

.right {
  height: 644px;
  padding: 80px 0px;
}
.right div {
  height: 170px;
  text-align: -webkit-center;
  justify-content: center;
}
.right div h4 {
  font-size: 20px;
  opacity: 0.6;
  padding-bottom: 10px;
}
.right div h2 {
  font-size: 40px;
  padding-bottom: 10px;
}
.right div .footer {
  width: 266px;
  font-size: 14px;
  opacity: 0.7;
}
.right .top {
  height: 708px;
  display: flex;
}
.right .top .card {
  width: 200px;
  height: 500px;
  position: relative;
  margin: 5px;
}
.right .top .card--box {
  width: 100%;
  height: auto;
  position: relative;
}
.right .top .card--box img {
  width: 100%;
  height: auto;
}
.right .top .card--box .lens {
  position: absolute;
  left: 28px;
  top: 13px;
  text-decoration: none;
  background-color: red;
  border-radius: 4px;
  width: 35px;
  height: 20px;
  color: #fff;
  font-size: 14px;
}
.right .top .card--box .iconn {
  width: 30px;
  height: 37px;
  position: absolute;
  bottom: 20px;
  left: 86px;
  display: flex;
}
.right .top .card--box .iconn .icon {
  width: 31px;
  height: 30px;
  background-color: #fff;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
}
.right .top .card .text {
  width: 200px;
  height: 408px;
  text-align: left;
  padding-left: 20px;
  margin-left: 20px;
}
.right .top .card .text .launge {
  width: 146px;
  height: 31px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 5px;
}
.right .top .card .text .launge .english {
  font-size: 14px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #23A6F0;
  font-weight: 700;
}
.right .top .card .text .launge .ulduz {
  width: 45px;
  height: 26px;
  font-size: 15px;
  background-color: black;
  border-radius: 11px;
  color: #fff;
}
.right .top .card .text .launge .ulduz .star {
  width: 20px;
  height: 20px;
}
.right .top .card .text h5 {
  font-size: 16px;
  padding-bottom: 15px;
}
.right .top .card .text p {
  font-size: 14px;
  opacity: 0.6;
  padding-bottom: 15px;
}
.right .top .card .text .frame {
  padding-top: 2px;
  width: 80px;
  height: 20px;
  text-decoration: none;
  display: flex;
  color: #000;
  opacity: 0.6;
  cursor: pointer;
}
.right .top .card .text .frame img {
  width: 26px;
  height: 17px;
}
.right .top .card .text .price {
  width: 88px;
  height: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 11px;
}
.right .top .card .text .price .pul {
  font-size: 16px;
  font-weight: 700;
  padding-right: 4px;
  color: #23856D;
  opacity: 0.5;
}
.right .top .card .text .price .dollar {
  font-size: 16px;
  font-weight: 700;
  padding-left: 4px;
  color: #2c5e0c;
}
.right .top .card .text .color {
  width: 75px;
  height: 20px;
  display: flex;
  margin-top: 10px;
}
.right .top .card .text .color .blue {
  width: 15px;
  height: 15px;
  background-color: blue;
  border-radius: 10px;
  margin: 8px 2px;
}
.right .top .card .text .color .green {
  width: 15px;
  height: 15px;
  background-color: green;
  border-radius: 10px;
  margin: 8px 2px;
}
.right .top .card .text .color .orange {
  width: 15px;
  height: 15px;
  background-color: orange;
  border-radius: 10px;
  margin: 8px 2px;
}
.right .top .card .text .color .black {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 10px;
  margin: 8px 2px;
}
.right .top .card .text .pages {
  width: 190px;
  height: 50px;
  display: flex;
  padding-top: 15px;
}
.right .top .card .text .pages .tarix {
  padding-right: 10px;
  font-size: 13px;
}
.right .top .card .text .pages .tarix .saat {
  width: 15px;
  height: 15px;
}
.right .top .card .text .son {
  width: 100px;
  height: 28px;
  text-align: center;
  border: 1px solid #23A6F0;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.35s linear;
}
.right .top .card .text .son:hover {
  transform: scale(1.4);
  background-color: #46096f;
  color: rgb(189, 189, 189);
}
.right .top .card .text .son .learn {
  font-size: 14px;
  padding-top: 4px;
}
.right .top .card .text .son .learn::after {
  content: ">";
  width: 20px;
  height: 20px;
  position: absolute;
  color: #2b5af5;
  font-size: 18px;
  transform: scaleY(1.3);
  padding-bottom: 15px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  main {
    width: 100%;
    height: 100vh;
  }
  #main {
    width: 100%;
    height: 100%;
  }
  .conteiner {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .conteiner .left {
    height: auto;
    width: 100%;
  }
  .conteiner .left img {
    width: 100%;
    height: auto;
  }
  .conteiner .right {
    width: 100%;
    height: auto;
  }
  .conteiner .right div {
    width: 100%;
  }
  .conteiner .top {
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: flex-end;
  }
  .conteiner .top .card {
    width: 100%;
    height: auto;
  }
  .conteiner .top .card .card--box {
    height: auto;
    width: 100%;
    position: relative;
  }
  .conteiner .top .card .card--box img {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
  }
  .conteiner .top .card .card--box .lens {
    left: 10px;
    top: 33px;
  }
  .conteiner .top .card .card--box .iconn {
    bottom: 40px !important;
    left: 100px;
    top: auto;
    left: 150px;
  }
  .conteiner .top .card .card--box .iconn .icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 20px;
    padding: 7px;
    margin: 5px;
    -o-object-fit: none;
       object-fit: none;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) *//*# sourceMappingURL=main.css.map */