* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


main {
    width: 100%;
    height: 100vh;
}

#top {
    width: 100%;
    height: 100%;

}

.container {
    width: 80%;
    height: 100%;
    margin: 0px auto;

    .product {
        width: 85%;
        display: flex;
        justify-content: space-between;
        text-align: center;

        &--list {
            list-style: none;
            width: 20%;

            h5 {
                font-size: 20px;
                text-transform: uppercase;
                
            }

            .list {
                width: 100%;
                display: flex;

                &--img {

                    width: 45%;


                }

                div {
                    height: 68%;
                    font-weight: 600;
                    align-self: center;
                    line-height: 35px;

                    h6 {font-size: 12px;

                    }
    
                    span {
                        font-size: 12px;
                        color: darkgray;
                        margin: 0px 3px;
                        
                        .green {

                            color: darkgreen;
                        }
                    }


                }

                






            }
        }
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

.container{
    width: 100%;
    .product{
        margin: 0px auto;
        flex-direction: column;
        
        &--list{
            width: 100%;

            .list{
                justify-content: center;

                &--img{
                    width: 40%;
                }

                div{
                    width: 30%;
                    font-size: 16px;
                }
            }
        }
        
    }
}


}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container{
        width: 100%;
        height: 100%;
        .product{
            margin: 0px auto;
            // flex-direction: column;
            
            
            &--list{
                width: 50%;
                height: auto !important;
    
                .list{
                    justify-content: center;
    
                    &--img{
                        width: 40%;
                    }
    
                    div{
                        width: 30%;
                        font-size: 16px;
                    }
                }
            }
            
        }
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body{
        height: 100vh;
    }
    
    main{
        height: 70%;
    }
    
    .container{
        width: 100% !important;
        height: 100%;
        .product{
            width: 100%;
            height: 100%;
            margin: 0px auto;
            // flex-direction: column;
            flex-wrap: wrap;
            
            
            &--list{
                width: 50% !important;
                

                h5{
                    height: 5% !important;
                }
    
                .list{
                    justify-content: center;
    
                    &--img{
                        width: 40%;
                    }
    
                    div{
                        width: 30%;
                        font-size: 16px;
                    }
                }
            }
            
        }
    }
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}