* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100%;
}

#top {
    width: 100%;
    height: 100%;

}


.container {
    width: 85%;
    height: 85%;
    margin: 0px auto;

    .card {
        width: 100%;
        display: flex;
        flex-direction: column;


        .nav {
            margin: 0px auto;
            text-align: center;
            line-height: 30px;
            padding-bottom: 10px;

            i{
                font-size: 30px;
                margin: 0px 6px;
            }

        }


        .corvet {
            width: 95%;
            display: flex;
            flex-wrap: wrap;
            row-gap: 20px;

            &--img {
                width: 25%;

                text-align: center;

                img {
                    
                }

                h5 {font-size: 19px;
                    line-height: 30px;}

                a {
                    font-size: 20px;
                    line-height: 30px;
                    text-decoration: none;
                    color: crimson;
                }

                .price {
                    display: flex;
                    /* margin: 0px auto; */
                    justify-content: center;
                    gap: 6px;
                    line-height: 40px;
                    h3 {
                        font-size: 16px;
                        font-weight: 600;
                        color: #8080808f;
                    }

                    h4 {
                        font-size: 16px;
                        font-weight: 700;
                        color: #189739;
                    }
                }


            }
        }


    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .nav{
        width: 100% !important;
        i{
            margin: 2px 30px !important;
        }
    }
    .corvet{
        flex-direction: column;
    align-items: center;
        
        .corvet--img{
            width: 100% !important;
        }
    }


}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .nav{
        width: 50% !important;


    }

    .corvet{
        flex-direction: row;
    align-items: center;
        
        .corvet--img{
            width: 50% !important;
        }
    }
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .nav{
        width: 32% !important;
    }
    
    .corvet{
        flex-direction: row;
         align-items: center;
        
        .corvet--img{
            width: 25% !important;
        }
    }
}