* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

#box {
    width: 1440px;
    height: 740px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 1200px;
    height: 609px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: space-around;

    .left {
        width: 372px;
        height: 381px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-around;

        .top {
            width: 206px;
            height: 25px;
            font-size: 18px;
            font-weight: 600;
            line-height: 20px;
            color: #25b125;
        
        }

        .bottom {
            width: 276px;
            height: 104px;
            font-size: 40px;
            font-weight: 700;
            line-height: 50px;
        }

        .alt {
            width: 290px;
            height: 65px;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
        }

        .son {
            width: 84px;
            height: 32px;
            font-size: 16px;
            font-weight: 700;   
        }
    }

    .right {
        width: 802px;
        height: 596px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;


        .kart {
            width: 249px;
            height: 596px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            &--img {
                width: 249px;
                height: 437px;

                img {
                    width: 249px;
                    height: 437px;
                    object-fit: cover;
                }
            }

            &--info {
                width: 249px;
                height: 157px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                background-color: #b6a6c38a;
                justify-content: space-around;

                h4 {
                    width: 131px;
                    height: 24px;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                }

                p {

                    width: 153px;
                    height: 24px;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 24px;
                }

                .price {
                    width: 88px;
                    height: 20px;
                    display: flex;
                    text-align: center;
                    flex-direction: row;
                    align-items: center;
                    text-align: center;

                    .pul {
                        font-size: 16px;
                        font-weight: 700;
                        padding-right: 4px;
                        color: #23856D;
                        opacity: 0.5;
                    }

                    .dollar {

                        font-size: 16px;
                        font-weight: 700;
                        padding-left: 4px;
                        color: #2c5e0c;
                    }
                }

                .color {
                    width: 75px;
                    height: 30px;
                    display: flex;
                    // margin-top: 10px;

                    .blue {

                        width: 15px;
                        height: 15px;
                        background-color: blue;
                        border-radius: 10px;
                        margin: 8px 2px;
                    }

                    .green {
                        width: 15px;
                        height: 15px;
                        background-color: green;
                        border-radius: 10px;
                        margin: 8px 2px;
                    }

                    .orange {
                        width: 15px;
                        height: 15px;
                        background-color: orange;
                        border-radius: 10px;
                        margin: 8px 2px;
                    }

                    .black {

                        width: 15px;
                        height: 15px;
                        background-color: black;
                        border-radius: 10px;
                        margin: 8px 2px;
                    }
                }
            }
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    main{
        width: 100%;
    }
    
        body{
            width: 100%;
            height: 100%;
        }
    
        #box{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
        }
    
        .container{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
    
    
            .left{
                width: 100%;

            }
    
            .right{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
    
                .kart{
                    width: 100%;

                    .kart--img{
                        width: 90%;

                        img{
                            width: 100%;
                        }
                    }

                    .kart--info{
                        width: 90%;
                    }
                }
            }
        }    
    
    
    }
    
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) { 
        
    main{
        width: 100%;
    }
    
        body{
            width: 100%;
            height: 100%;
        }
    
        #box{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
        }
    
        .container{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
    
    
            .left{
                width: 100%;
    
            }
    
            .right{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
    
                .kart{
                    width: 100%;

                    .kart--img{
                        width: 90%;

                        img{
                            width: 100%;
                        }
                    }

                    .kart--info{
                        width: 90%;
                    }
                }
            }
        }    
    }
    
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) { 
        main{
            width: 100%;
        }
        
            body{
                width: 100%;
                height: 100%;
            }
        
            #box{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column !important;
            }
        
            .container{
                width: 90%;
                height: auto;
                display: flex;
                flex-direction: column;
                // align-items: center;
                gap: 15px;
                
        
        
                .left{
                    width: 100%;
        
                   
                }
        
                .right{
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: space-around;
                    flex-direction: row !important;
        
                    .kart{
                        width: 100%;

                        .kart--img{
                            width: 90%;
    
                            img{
                                width: 100%;
                            }
                        }
    
                        .kart--info{
                            width: 90%;
                        }
                    }
                }
            }    
    }
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) { }
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) { 
        main{
            width: 100%;
            height: 100%;
        }
        
            body{
                width: 100%;
                height: 100vh !important;
            }
        
            #box{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column !important;
                align-items: center;
            }
        
            .container{
                width: 90%;
                height: auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 15px;
    
        
        
                .left{
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
        
                    
                }
        
                .right{
                    width: 100%;
                  
                    height: auto;
                    display: flex;
                    flex-direction: row !important;
        
                    .kart{
                        width: 100%;
                        height: 100% !important;

                        .kart--img{
                            width: 90%;
                            height: 65% !important;
    
                            img{
                                width: 100%;
                                // faizle verdim 1 ne tesir etdi o birsilere etmedi
                                height: 312px !important;
                            }
                        }
    
                        .kart--info{
                            width: 90%;
                            height: 35%;
                        }
                    }
                }
            }    
        
        
        }
        
    