* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
}

footer {
    padding: 30px 70px;
    background-color: #fff;
}


#main {
    width: 1340px;
    height: 338px;



    div {
        position: absolute;
        width: 526px;
        height: 170px;
        left: calc(50% - 1050px/2);
        top: 0px;
        flex-direction: column;
        align-items: center;
        padding: 80px 0px;
        gap: 80px;

        h3 {
            font-size: 24px;
            color: #252B42;
        }

        p {
            color: #737373;
            font-size: 14px;
            max-width: 161px;
            padding-top: 25px;

        }

        ul {
            display: flex;
            list-style: none;
            padding-top: 25px;


            li {
                padding-right: 20px;

                a {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }

    table {
        width: 526px;
        height: 170px;
        left: calc(50% - 900px/2);
        top: 0px;
        flex-direction: column;
        align-items: center;
        padding: 80px 0px;
        gap: 40px;
        position: absolute;
        margin-left: 500px;
        text-align: left;

        tr {
            th {
                color: #252B42;
                font-size: 24px;
                padding-bottom: 20px;

            a{
                text-decoration: none;
                color: #252B42;
            }
            }

            td {
                padding-top: 15px;
                color: #737373;
                font-size: 14px;
            a{
                text-decoration: none;
                color: #252B42;
            }
            }
        }


    }
}

#footerr {
    position: absolute;
    width: 1340px;
    height: 76px;
    padding-top: 36px;
    background-color: #ececec;

    div {
        align-content: center;
        justify-content: center;
        text-align: center;



        p {
            font-size: 14px;
            color: #737373;
        }
    }
}
// @media only screen and (max-widht: 412px;) {
//     [class*="col-"]{
//     #main #footerr{
//        width: 100%; 
//        display: none;
//     }
// }
// }